.Sidenav {
  background-color: $bright-gray;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6.5rem);
  flex: 0 0 $sidenav-width;
  position: relative;

  transition: transform 0.3s ease;

  @include respond(tab-port) {
    transform: translateX(-100%);
    position: absolute;
    width: 35rem;
    margin-top: 6.5rem;
    z-index: 999;
  }

  &--open {
    transform: translateX(0);
  }

  &__toggler {
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: 0;
    right: 0;
    background: red;
    transform: translateX(100%);
    opacity: 0;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    vertical-align: middle;
    cursor: pointer;
    visibility: hidden;
    display: flex;
    transition: all 0.3s ease;
    @include respond(tab-port) {
      opacity: 1;
      visibility: visible;
    }
  }

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #444b58;
  }

  &__link {
    color: $light-slate-grey;
    display: block;
    padding: 1.5rem 1rem;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    transition: $transition-base-01;

    &:hover {
      color: $pattens-blue;
      background: rgba(0, 0, 0, 0.25);
    }

    &--active {
      color: $pattens-blue;
      background: rgba(0, 0, 0, 0.25);

      &:before {
        content: "";
        width: 0.5rem;
        left: 0;
        top: 0;
        position: absolute;
        background: $malibu;
        height: 100%;
      }
    }
  }
}
