.Sidenav {
  background-color: $bright-gray;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 350px;

  &__logo {
    background-color: $blue-charcoal;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: $light-slate-grey;
    display: block;
    padding: 1.5rem 1rem;
    position: relative;
    cursor: pointer;

    &:hover {
      color: $pattens-blue;
      background: rgba(0, 0, 0, 0.25);
    }

    &--active {
      color: $pattens-blue;
      background: rgba(0, 0, 0, 0.25);

      &:before {
        content: "";
        width: 0.5rem;
        left: 0;
        top: 0;
        position: absolute;
        background: $malibu;
        height: 100%;
      }
    }
  }

  &__item {
  }
}
