.Sidenav {
  background-color: $bright-gray;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6.5rem);
  flex: 0 0 $sidenav-width;

  // &--mobile {
  //   width: $sidenav-width;
  //   transform: translateX(-$sidenav-width);
  //   position: fixed;
  //   min-height: 100vh;
  //   top: 0;
  //   left: 0;
  //   position: relative;

  //   &.isOpen {
  //     transform: translateX(0);
  //   }
  // }

  // &__toggle {
  //   width: 3rem;
  //   height: 3rem;
  //   display: flex;
  //   align-content: center;
  //   justify-content: center;
  //   position: absolute;
  // }

  @include respond(tab-port) {
    min-height: auto;
    display: block;
    flex: 0 0 100%;
  }

  &__nav {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    border-bottom: 1px solid #444b58;

    @include respond(tab-port) {
      padding-bottom: 0;
      display: flex;
    }
  }

  &__item {
    @include respond(tab-port) {
      flex: 1;
    }
  }

  &__link {
    color: $light-slate-grey;
    display: block;
    padding: 1.5rem 1rem;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    transition: $transition-base-01;

    &:hover {
      color: $pattens-blue;
      background: rgba(0, 0, 0, 0.25);
    }

    &--active {
      color: $pattens-blue;
      background: rgba(0, 0, 0, 0.25);

      &:before {
        content: "";
        width: 0.5rem;
        left: 0;
        top: 0;
        position: absolute;
        background: $malibu;
        height: 100%;
      }
    }
  }

  @include respond(tab-port) {
    &__link {
      &--active {
        &:before {
          content: "";
          width: 100%;
          height: 0.5rem;

          position: absolute;
          background: $malibu;
        }
      }
    }
  }
}
