.Subnav {
  flex: 0 0 100%;
  background: yellow;
  &__list {
    background: green;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    flex: 1;
  }

  &__link {
  }
}
