.Topnav {
  background: $blue-charcoal;
  flex: 0 0 100%;
  height: 6.5rem;
  &__nav {
    display: flex;
  }
  &__title {
    color: $azure;
    flex: 0 0 35rem;
  }

  button {
    background: #265036;
  }

  &__logo {
    background-color: $blue-charcoal;

    flex: 0 0 $logo-wrapper-width;
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }

  &__item {
    color: $azure;
    display: flex;
    height: 100%;
  }

  &__link {
    cursor: pointer;
    padding: 2rem;
    transition: $transition-base-01;

    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__action {
    padding: 2rem 2.555rem;
    color: $azure;
    background: none;
  }

  &__title,
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }
}
