$azure: #fbfcfc;
$blue-charcoal: #262e34;
$light-slate-grey: #889199;
$pattens-blue: #d6e5ee;
$zumthor: #d5d6d6;
$malibu: #68b0f0;
$bright-gray: #3c4351;
$danger-1: #ef5350;
$success-1: rgb(18, 235, 167);
$blue-1: #21d4fd;
$blue-2: #5b80d1;

$grey-light-1: rgba(160, 160, 160, 0.2);

$border-grey-light-1: 1px solid $grey-light-1;
