// Breakpoints
$bp-largest: (1200 / 16) * 1em; //1200 px
$bp-large: (1100 / 16) * 1em; //1100 px
$bp-medium: (900 / 16) * 1em; //900 px
$bp-small: (600 / 16) * 1em; //600px
$bp-smallest: (500 /16) * 1em; //500px

// Layout
$container-width: 1140; //px
$sidenav-width: 35rem;
$logo-wrapper-width: $sidenav-width;

//Checkbox-Switch
$switch-height: 2;
$switch-before-relative-size: 70;
$switch-before-size: ((($switch-height * $switch-before-relative-size) / 100));
$switch-before-spacing: ($switch-height - $switch-before-size) / 2;
$switch-width: ($switch-before-size + $switch-before-spacing) * 2;

//Transitions
$transition-base-01: all 0.3s ease;
