.Main {
  flex: 1 0 auto;

  &__column {
    flex: 1;
    padding-bottom: 2.5rem;

    &:first-child,
    &:nth-child(2) {
      @include respond(tab-port) {
        flex: 0 0 100%;
      }
    }

    &:nth-child(2) {
      @include respond(tab-port) {
        order: -1;
      }
    }
  }
}
