.Main {
  flex: 1 0 auto;
  padding-bottom: 2.5rem;

  &__column {
    flex: 0 0 50%;

    &:first-child,
    &:nth-child(2) {
      @include respond(tab-port) {
        flex: 0 0 100%;
      }
    }

    &:nth-child(2) {
      @include respond(tab-port) {
        order: -1;
      }
    }
  }
}
